a
{
	font-size:   20PX;
}

body
{
	background-color: #333;
	margin: 0;
}

a,h1,h2,h3,p
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:       #FFF;
}

h1
{
	font-size: 40PX;
}

h3
{
	font-size: 25PX;
}

img
{
	width: 100%;
}

li
{
	color: #FFF;
}

p
{
	font-size: 20PX;
}

.box
{
	background:    #333;
	border:        4PX SOLID #FF0;
	border-radius: 10PX;
	margin:        20PX;
	padding:       20PX;
}

.canvas-box
{
	float: LEFT;
}

.content
{
	float: RIGHT;
	width: 70%;
}

.image
{
	float: LEFT;
	width: 20%;
}

.inner-content
{
	float: RIGHT;
	width: 55%;
}

.navbar
{
	float: TOP;
}

.sidebar
{
	float:        LEFT;
	margin-right: 5PX;
	width:        15%;
}

.topbar
{
	font-size: 30PX;
}

.box:hover,a:hover
{
	background:   #555;
	border-color: #BB0;
}
